.button {
  @apply w-full min-w-[-247px] uppercase font-semibold relative flex justify-center transition-all duration-300 ease-out;

  & > .button-cta {
    @apply transition-all duration-300 ease-out;
  }

  &::before {
    @apply transition-all duration-300 ease-out;
  }

  /* Icon added via sanity same color as text */
  & svg {
    @apply text-inherit;
  }

  /* Border with offset */
  &::before {
    content: '';
    @apply absolute inset-y-[-.675rem] inset-x-[-.75rem] pointer-events-none rounded-[inherit] z-[-1] border;
    clip-path: inset(0 0 0 0);
    transition: clip-path 0.6s cubic-bezier(.22, 1, 0.36, 1);
  }

  &[data-action="popup"] & > *{
    @apply pointer-events-none;
  }
}

/* Text & icon */
.button-text-initial, .button-icon-initial {
  @apply transition-all duration-300 opacity-100;
}

.button-text-hover, .button-icon-hover {
  @apply absolute transition-all duration-300 opacity-0;
}

.button-icon-initial, .button-icon-hover {
  @apply rotate-45;
}

.button-icon-hover {
  @apply translate-y-[-2.25rem]
}

/*
 * Button hover
 */
.button:hover {
  @apply shadow-lg shadow-[#ffc65454];

  .button-text-initial {
    @apply scale-105
  } 
  .button-icon-initial {
    @apply scale-110
  }
  
  &::before {
    background: linear-gradient(#ffa84400, #ffc554);
  }
}

.button:hover {
  & .button-icon-initial {
    @apply opacity-100 translate-x-[4.25rem];
  }

  & .button-icon-hover {
    @apply opacity-100 translate-x-[2.25rem];
  }
}


/*
 * Button variants
 */
.button-gold {
  @apply text-[#000C23] relative z-10;
  background: radial-gradient(at center bottom, #ffc554 0%, #ffa944 100%) !important;
  border: none;

  &::before {
    @apply border-[#ffc554];

    content: '';
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: inherit;
    background: linear-gradient(#ffc554, #ffa84400);
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
  }
}
         

.button-white {
  @apply text-[#172329];
  background: white !important;

  &::before {
    @apply border-white;
  }
}

.button-grey-blue {
  @apply text-white;
  background: #303F48 !important;

  &::before {
    @apply border-[#303F48];
  }
}


/*
 * Button sizes
 */
.button-size-small {
  @apply px-[2rem] sm:px-[4rem] py-[2rem] text-[2rem];
}

.button-size-default {
  @apply px-[2rem] sm:px-[4rem] py-[1.875rem] text-[2.25rem];
}

.button-size-large {
  @apply px-[2rem] sm:px-[5rem] py-[2.125rem] text-[2.5rem];
}


/*
 * Button shapes
 */
.button-shape-round {
  @apply rounded-[0.5rem];
}

.button-shape-pill {
  @apply rounded-full;
}